<div class="control-form">
    <label for="usuario"><strong>Nombre del Producto</strong></label>
    <br>
    <input type="text" name="usuario" id="usuario" class="control" minlength="6" required>
</div>
<div class="control-form">
    <label for="usuario"><strong>Descripción</strong></label>
    <br>
    <input type="email" name="email" id="email" class="control" minlength="6" required>
</div>
<div class="control-form">
    <label for="pass1"><strong>Imagen</strong></label>
    <br>
    <input type="file" name="pass1" id="pass1" class="control" minlength="8" required>
</div>
<div class="control-form">
    <label for="pass2"><strong>Categoría</strong></label>
    <br />
    <label>
        <input type="radio" name="categoria">
        Aventura
    </label>
    <br />
    <label>
        <input type="radio" name="categoria">
        RPG
    </label>
    <br />
    <label>
        <input type="radio" name="categoria">
        Pelea
    </label>
    <br />
    <label>
        <input type="radio" name="categoria">
        Deportes
    </label>
    <br />
    <label>
        <input type="radio" name="categoria">
        Estrategia
    </label>
</div>
<div class="control-form">
    <label for="pass2"><strong>Tamaño(peso)</strong></label>
    <br>
    <input type="text" name="pass2" id="pass2" class="control" minlength="8" required>
</div>
<div class="control-form">
    <label for="pass2"><strong>Precio</strong></label>
    <br>
    <input type="text" name="pass2" id="pass2" class="control" minlength="8" required>
</div>