<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="css/carrito.css">

    <main>
        <section class="titulo">
            <h1><i class="fa fa-list"></i> Listado de Videojuegos</h1>
        </section>
        <section class="lista-prod">
            <article class="lista-prod-item">
                <img src="images/cod.jpg" alt="imagen-producto" />
                <div class="detail">
                    <div>
                        <h2>TITULO</h2>
                        <h3>Categoria</h3>
                        <h4>S/. 100.00</h4>
                    </div>
                    <div>
                        <p>
                            Lorem ipsum dolor, juego increible, los demas juegos estan en nada.
                        </p>
                    </div>
                </div>
                <div class="price">
                    <div>
                        
                    </div>
                </div>     
            </article>
        </section>
        <section class="lista-prod">
            <article class="lista-prod-item">
                <img src="images/mortalcombat.jpg" alt="imagen-producto" />
                <div class="detail">
                    <div>
                        <h2>TITULO2</h2>
                        <h3>Categoria</h3>
                        <h4>S/. 100.00</h4>
                    </div>
                    <div>
                        <p>
                            Lorem ipsum dolor, juego increible, los demas juegos estan en nada.
                        </p>
                    </div>
                </div>
                <div class="price">
                    <div>
                    </div>
                </div>     
            </article>
        </section>
        <section class="lista-prod">
            <article class="lista-prod-item">
                <img src="images/nightmares.jpg" alt="imagen-producto" />
                <div class="detail">
                    <div>
                        <h2>TITULO3</h2>
                        <h3>Categoria</h3>
                        <h4>S/. 100.00</h4>
                    </div>
                    <div>
                        <p>
                            Lorem ipsum dolor, juego increible, los demas juegos estan en nada.
                        </p>
                    </div>
                </div>
                <div class="price">
                    <div>
                    </div>
                </div>     
            </article>
        </section>
    </main>
<%- include('../partials/footer') %>