<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="brand-link">
                <img src="images/logo.png" alt="logo" width="60px" />
                <h1 class="brand">EGAME</h1>
            </a>
            <ul class="main-header-menu-left">
                <li>
                    <a href="#">
                        Nosotros
                    </a>
                </li>
                <li>
                    <a href="#">
                        Videojuegos
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contáctenos
                    </a>
                </li>
            </ul>
            <ul class="main-header-menu-right">
                <li>
                    <button title="Login" class="btn-standard"><i class="fa fa-sign-in-alt"></i>Acceder</button>
                </li>
                <li>
                    <a href="/carrito" title="Carrito" class="btn-standard" ><i class="fa fa-shopping-cart"></i></a>
                </li>
            </ul>
            <a href="#" class="navbar__burger">
                <i class="fas fa-bars"></i>
            </a>
        </nav>
    </header>
    <main>
        <section class="banner">
            <div class="banner__arrow banner__arrow_left">
                <i class="fas fa-arrow-alt-circle-left"></i>
            </div>
            <img src="images/ciberpunk.png" width="100%" height="100%" />
            <div class="banner__arrow banner__arrow_right">
                <i class="fas fa-arrow-alt-circle-right"></i>
            </div>
            <div class="banner__points">
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
            </div>
        </section>
        <section class="lista">
            <h2 class="lista__titulo">Categorias</h2>
            <div class="lista__items">
                <article class="lista__items__detalle">
                    <div class="lista__items__image">
                        <img src="images/xbox1.jpg" width="100%" alt="imagen de categoria 1">
                    </div>
                    <h3>Categoria 1</h3>
                </article>
                <article class="lista__items__detalle">
                    <div class="lista__items__image">
                        <img src="images/xbox2.jpg" width="100%" alt="imagen de categoria 1">
                    </div>
                    <h3>Categoria 2</h3>
                </article>
                <article class="lista__items__detalle">
                    <div class="lista__items__image">
                        <img src="images/xbox3.jpg" width="100%" alt="imagen de categoria 1">
                    </div>
                    <h3>Categoria 3</h3>
                </article>
                <article class="lista__items__detalle">
                    <div class="lista__items__image">
                        <img src="images/xbox4.jpg" width="100%" alt="imagen de categoria 1">
                    </div>
                    <h3>Categoria 4</h3>
                </article>
            </div>
        </section>
        <section class="lista">
            <h2 class="lista__titulo">Ultimos Lanzamientos</h2>
            <div class="lista__items">
                <article class="lista__items__detalle">
                    <div class="lista__items__image">
                        <img src="images/ac.jpg" width="100%" alt="imagen de categoria 1">
                    </div>
                    <p class="ant_price">S/. 120.00</p>
                    <p class="price">S/. 60.00</p>
                    <div>
                        <button class="btn-standard">
                            <i class="fa fa-shopping-cart"></i>Comprar
                        </button>
                    </div>
                    <div>
                        <a href="/detalle">Ver Detalles</a>
                    </div>
                </article>
                <article class="lista__items__detalle">
                    <div class="lista__items__image">
                        <img src="images/nightmares.jpg" width="100%" alt="imagen de categoria 1">
                    </div>
                    <p class="ant_price">S/. 110.00</p>
                    <p class="price">S/. 82.00</p>
                    <div>
                        <button class="btn-standard">
                            <i class="fa fa-shopping-cart"></i>Comprar
                        </button>
                    </div>
                    <div>
                        <a href="/detalle">Ver Detalles</a>
                    </div>
                </article>
                <article class="lista__items__detalle">
                    <div class="lista__items__image">
                        <img src="images/cod.jpg" width="100%" alt="imagen de categoria 1">
                    </div>
                    <p class="ant_price">S/. 100.00</p>
                    <p class="price">S/. 42.00</p>
                    <div>
                        <button class="btn-standard">
                            <i class="fa fa-shopping-cart"></i>Comprar
                        </button>
                    </div>
                    <div>
                        <a href="/detalle">Ver Detalles</a>
                    </div>
                </article>
                <article class="lista__items__detalle">
                    <div class="lista__items__image">
                        <img src="images/mortalcombat.jpg" width="100%" alt="imagen de categoria 1">
                    </div>
                    <p class="ant_price">S/. 140.00</p>
                    <p class="price">S/. 65.00</p>
                    <div>
                        <button class="btn-standard">
                            <i class="fa fa-shopping-cart"></i>Comprar
                        </button>
                    </div>
                    <div>
                        <a href="/detalle">Ver Detalles</a>
                    </div>
                </article>
            </div>
            <div class="container-button">
                <button class="btn-standard">
                    <h3>
                        Ver más Videojuegos >
                    </h3>
                </button>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <i class="fa fa-copyright"></i> EGAME 2021, Todos los derechos reservados.
        </section>
    </footer>
</body>
</html>