<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/forms.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="brand-link">
                <img src="images/logo.png" alt="logo" width="60px" />
                <h1 class="brand">EGAME</h1>
            </a>
            <ul class="main-header-menu-left">
                <li>
                    <a href="#">
                        Nosotros
                    </a>
                </li>
                <li>
                    <a href="#">
                        Videojuegos
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contáctenos
                    </a>
                </li>
            </ul>
            <ul class="main-header-menu-right">
                <li>
                    <a href="/registro">
                        <button title="Login" class="btn-standard"><i class="fa fa-sign-in-alt"></i>Únete a Egame</button>
                    </a>
                </li>
                <li>
                    <a href="/carrito" title="Carrito" class="btn-standard" ><i class="fa fa-shopping-cart"></i></a>
                </li>
            </ul>
            <a href="#" class="navbar__burger">
                <i class="fas fa-bars"></i>
            </a>
        </nav>
    </header>
    <main>
        <div class="form-login">
            <form action="/" method="POST" class="create-form">
                <div class="form-control">
                    <h1>INICIAR SESIÓN</h1>
                </div>
                <div class="form-control">
                    <label for="usuario"><strong>Usuario o Correo Electrónico</strong></label>
                    <br>
                    <input type="text" name="usuario" id="usuario" class="control" minlength="6" required>
                </div>
                <div class="form-control">
                    <label for="pass"><strong>Contraseña</strong></label>
                    <br>
                    <input type="password" name="pass" id="pass" class="control" required>
                </div>
                <div class="form-button">
                    <a href="/iniciar-sesion">
                        <button type="submit" class="btn-form">CONTINUAR</button>
                    </a>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <section>
            <i class="fa fa-copyright"></i> EGAME 2021, Todos los derechos reservados.
        </section>
    </footer>
</body>
</html>