:root{
    --color-purpura: #221858;
    --color-purpura-claro: #857DB1;
    --color-morado: #381356;
    --color-azul: #051A38;
    --color-azul-claro: #4C668C;
    --color-rojo: #d63c28;
}

body{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: var(--color-purpura-claro);
}

.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    display:none;
}

.navbar__burger{
    background-color: var(--color-purpura);
    border-radius: 5px;
    color: #ffffff;
    margin-right: 20px;
    padding: 10px 10px;
}

.brand-link{
    color: var(--color-azul);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.brand-link img{
    border-radius: 50%;
    margin-right: 6px;
}

.main-header-menu-left,
.main-header-menu-right{
    display: flex;
    align-items: center;
    list-style: none;
}

.main-header-menu-right{
    flex-basis: 100%;
    justify-content: flex-end;
}


.main-header-menu-left li a{
    padding: 24px 25px;
    background-color: var(--color-purpura);
    border-left: 1px solid var(--color-purpura-claro);
    text-decoration: none;
    color: #ffffff;
}

.btn-standard {
    background-color: var(--color-azul);
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    margin-right: 6px;
}

.btn-standard i{
    margin: 4px;
}

footer {
    margin-top: 20px;
    background-color: var(--color-azul-claro);
}

footer section{
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

@media (min-width: 1200px){
    .navbar{
        align-items: center;
        justify-content: flex-start;
    }

    .navbar__burger{
        display: none;
    }

    .navbar ul{
        display: flex;
    }
}