.titulo h1{
    margin: 20px 0;
    text-align: center;
}

.lista-prod-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-azul-claro);
    margin: 10px 20px;
}

.lista-prod-item img{
    width: 120px;
    height: 100px;
    margin: 20px;
}

.lista-prod-item .detail {
    text-align: left;
    flex: 50%;
    color: #ffffff;
}

.btn-delete{
    background-color: var(--color-rojo);
    width: 100%;
}

.lista-prod{
    max-width: 900px;
    margin: auto;
}

.lista-prod-item .price {
    padding: 20px;
}

.lista-prod-item input[type=number] {
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}


.price .price-bottom{
    display: flex;
    margin-top: 6px;
}

.price .price-bottom>*{
    width: 50px;
}

.pago {
    text-align: right;
}

.pago div{
    margin-top: 6px;
}