.form-signup {
    margin: 50px auto;
    border: 1px solid #7C01F0;
    padding: 20px 20px;
    width: 308px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background-color: #F80CDD;
}

.form-login {
    margin: 50px auto;
    border: 1px solid #7C01F0;
    padding: 20px 20px;
    width: 308px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background-color: #F80CDD;
}

.control {
    width: 266px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #7C01F0;
    padding: 5px 12px;
    margin-top: 5px;
}

.control:hover {
    border-color: #AD0BD9;
}

.btn-form {
    background-color: var(--color-azul);
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #000BA4;
    cursor: pointer;
    padding: 10px;
    transition: all 500ms;
}

.btn-form:hover{
    background-color: var(--color-azul-claro);
}

.check-form {
    width: 100%;
    font-size: 12px;
}

.check {
    border: 1px solid #7C01F0;
    padding: 5px 12px;
    margin: 5px 0px 15px;
}

.check:hover {
    border-color: #AD0BD9;
}

.control-form{
    text-align: left;
    margin-bottom: 10px;
}

.form-button{
    display: flex;
    justify-content: center;
}

.form-button button{
    margin: 5px;
}