<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="css/forms.css">
    <main>
        <div class="form-signup">
            <form action="/" method="POST" class="create-form">
                <h1>REGISTRATE</h1><br><br>
                <div class="control-form">
                    <label for="usuario"><strong>Usuario</strong></label>
                    <br>
                    <input type="text" name="usuario" id="usuario" class="control" minlength="6" required>
                </div>
                <div class="control-form">
                    <label for="usuario"><strong>Correo Electrónico</strong></label>
                    <br>
                    <input type="email" name="email" id="email" class="control" minlength="6" required>
                </div>
                <div class="control-form">
                    <label for="pass1"><strong>Contraseña</strong></label>
                    <br>
                    <input type="password" name="pass1" id="pass1" class="control" minlength="8" required>
                </div>
                <div class="control-form">
                    <label for="pass2"><strong>Confirma tu contraseña</strong></label>
                    <br>
                    <input type="password" name="pass2" id="pass2" class="control" minlength="8" required>
                </div>
                <div class="control-form">
                    <div class="check-form">
                        <input type="checkbox" name="categoria" id="check-terminos" class="check" required>
                        <label for="check-terminos">Acepto los Términos y Condiciones</label>
                    </div>
                </div>
                <div class="form-button">
                    <a href="/iniciar-sesion">
                        <button type="submit" class="btn-form">CONTINUAR</button>
                    </a>
                </div>
            </form>
        </div>
    </main>
<%- include('../partials/footer') %>