<%- include('../partials/head') %>
<%- include('../partials/header') %>
<link rel="stylesheet" href="css/carrito.css">

    <main>
        <section class="titulo">
            <h1><i class="fa fa-shopping-cart"></i> Carrito de Compras</h1>
        </section>
        <section class="lista-prod">
            <article class="lista-prod-item">
                <img src="images/cod.jpg" alt="imagen-producto" />
                <div class="detail">
                    <h2>TITULO</h2>
                    <h3>Categoria</h3>
                </div>
                <div class="price">
                    <div>
                        <button class="btn-standard btn-delete"><i class="fa fa-shopping-cart"></i><span class="sp-msj">Eliminar</span></button>
                    </div>
                    <div class="price-bottom">
                        <button class="btn-standard btn-count">-</button>
                        <input type="number" readonly class="control" value="1">
                        <button class="btn-standard btn-count">+</button>
                    </div>
                </div>     
            </article>
        </section>
        <section class="lista-prod">
            <article class="lista-prod-item">
                <img src="images/mortalcombat.jpg" alt="imagen-producto" />
                <div class="detail">
                    <h2>TITULO 2</h2>
                    <h3>Categoria</h3>
                </div>
                <div class="price">
                    <div>
                        <button class="btn-standard btn-delete"><i class="fa fa-shopping-cart"></i><span class="sp-msj">Eliminar</span></button>
                    </div>
                    <div class="price-bottom">
                        <button class="btn-standard btn-count">-</button>
                        <input type="number" readonly class="control" value="1">
                        <button class="btn-standard btn-count">+</button>
                    </div>
                </div>     
            </article>
        </section>
        <section class="lista-prod">
            <article class="lista-prod-item">
                <img src="images/nightmares.jpg" alt="imagen-producto" />
                <div class="detail">
                    <h2>TITULO 3</h2>
                    <h3>Categoria</h3>
                </div>
                <div class="price">
                    <div>
                        <button class="btn-standard btn-delete"><i class="fa fa-shopping-cart"></i><span class="sp-msj">Eliminar</span></button>
                    </div>
                    <div class="price-bottom">
                        <button class="btn-standard btn-count">-</button>
                        <input type="number" readonly class="control" value="1">
                        <button class="btn-standard btn-count">+</button>
                    </div>
                </div>     
            </article>
        </section>
        <section class="lista-prod pago">
            <div class="group_button">
                <button class="btn-standard"><i class="fa fa-receipt"></i>Pagar</button>
                <button class="btn-standard"><i class="fa fa-gift"></i>Regalar</button>
            </div>
            <div class="group_button">
                <a href="#" >Vaciar el carrito</a>
            </div>
        </section>
    </main>
<%- include('../partials/footer') %>